.big-bag{
 background-color: hsla(0, 20%, 98%, 0.747);
}
*{
 padding: 0;
 margin: 2px;
}
.dropdown{
 position: relative;
 display: inline-block;
 margin-left: 20px;
}
.content{
 display: none;
 position: absolute;
 background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.content a{
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}
.content:hover{
 background-color: #fff;
}
.dropdown:hover .content {
 display: block;
} 
.product, .company, .connect{
 display: flex;
 align-items: center;
 margin-top: 25px;
}
a{
 text-decoration: none;
 color: white;
 font-family: 'Overpass',sans-serif;
}
button{
 color: hsl(356, 100%, 66%);
 width: 100px;
 font-family: 'Overpass',sans-serif;
 font-weight: 400;
 height: 40px;
 border-radius: 20px;
 border: none;
 background-color: #fff;
}
.ham{
  display: none;
}
/*Header section*/
.heading{
 background-image: url('images/bg-pattern-intro-desktop.svg');
 background-color: hsl(356, 100%, 66%);
 border-radius: 0px 0px 0px 90px;
 height: 400px;
 background-repeat: no-repeat;
 background-size: 500vh;
 background-position: center;
}
.holder{
  display: flex;
  align-items: center;
}
h1{
 text-align: center;
 color: hsl(0, 0%, 100%);
 font-family: 'Overpass',sans-serif;
 font-size: 23px;
 font-weight: 700;
}
p{
 text-align: center;
 color: hsla(0, 1%, 87%, 0.747);
 line-height: 1.5rem;
 font-size: 14px;
 font-family: 'Overpass',sans-serif;
}
.top{
margin-left: 40%;
}
.high{
  float: right;
}
.high img{
  width: 600px;
}
.top button{
margin-top: 30px;
}
.signup{
  margin-left: 12px;
}
.text{
 margin-top: 40px;
 margin-left: 30px;
}
.down-button{
 margin-left: 575px;
 margin-top: 100px;
}
.trp-btn{
 margin-left: 20px;
 border: 1px solid #fff;
 background-color:hsl(353, 100%, 62%);
 color: #f1f1f1;
}
.next h2{
 text-align: center;
 color: hsl(208, 49%, 24%);
 font-family: 'Ubuntu',sans-serif;
}
.carry img{
 width: 600px;
margin-right: -450px;
}
.carry{
 display: flex;
 align-items: center;
 margin-left: 170px;
 margin-top: 70px;
}
.des {
color: hsl(207, 13%, 34%);
text-align: left;
}
.des p{
  font-family: 'Ubuntu',sans-serif;
  margin-top: 10px;
  color: hsla(0, 1%, 87%, 0.747);
}
.next h2{
 margin-top: 90px;
}
h3{
 color:hsl(208, 49%, 24%);
 margin-top: 10px;
 font-family: 'Ubuntu', sans-serif;
}
.logo{
 margin-top: 40px;
 margin-left: 50px;
}
.ph-mg img{
 width: 400px;
 margin-bottom: 95px;
 margin-left: 100px;
}
.stuff{
 display: flex;
 background-repeat: no-repeat;
 background: linear-gradient(rgba(63,65,100,0.87),rgb(44,45,63,0.99)),url('images/bg-pattern-circles.svg');
 background-position: left;
 height: 260px;
 margin-top: 300px;
 margin-bottom: 100px;
 background-size: auto;
 border-radius: 0px 80px 0px 80px;
}
.phone p, h2{
 color: white;
  margin-top: 30px;
  font-family: 'Overpass';
}
.phone{
margin-left: 50px;
}
.phone p{
 text-align: left;
 margin-top: -5px;
}
.ph-mg{
 margin-left: 130px;
 margin-top: -60px;
}
/*Laptop image section*/
.blogr{
  width: 100%;
  margin-bottom: 40px;
}
.blogr h3{
margin-left: 30px;
}
.cople{
  display: flex;
  align-items: center;
}
.laptop {
  margin-left: -210px;
}
.laptop img{
  width: 700px;
}
.lap-text p{
color: hsl(208, 49%, 24%);
margin-left: 30px;
text-align: left;
}




/*Footer section*/
#footer{
 background-color: hsl(240, 10%, 16%);
 border-radius: 0px 70px 0px 0px;
 height: auto;
}
ul{
  list-style-type: none;
  margin-top: 30px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}
.footer-col{
  width: 20%;
  padding: 20px;
  margin-top: 40px;
}
.footer-col h3{
  font-size: 16px;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}
.folder{
  margin-top: 50px;
}
.footer-col a{
  color: hsla(0, 1%, 87%, 0.747);
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
@media screen and (max-width:725px) {

  .dropdown, .top{
    display: none;
    
    position: absolute;
  }
    .heading {
      background-image: url('images/bg-pattern-intro-mobile.svg');
      background-repeat: no-repeat;
      background-position:  center;
      background-size: 1300px;
    }
  .ham{
 float: right;
 margin-left: 50%;
 margin-top: 20px;
 display: block;
}
#close{
  display: none;
}

.down-button{
  float: left;
  margin-left: 130px;
}
.next{
  display: grid;
}
.carry{
  display: grid;
  margin-top: 40px;
  margin-left: 80px;
}
.high img{
  width: 400px;
}
.high{
  margin-left: 50px;
}
.stuff{
  display: grid;
  width: 360px;
  margin-left: 50px;
  height: 500px;
}
.ph-mg{
  margin-top: -200px;
  margin-left: -25%;
}
.ph-mg img{
  width: 300px;
}
.phone{
  display: grid;
  margin-top: -240px;
  margin-left: 90px;
}
.phone p{
margin-right:100px;

margin-top: -180px;
}
.cople{
  display: grid;
  margin-left: -40%;
}
.laptop img{
  width: 420px;
  margin-left: 50%;
}
.lap-text{
 display: grid;
 margin-left: 40%;
}
.lap-text h3{
  text-align: center;
}
.lap-text p {
margin-left: 20%;
text-align: center;
}
.pol{
  margin-right: 13%;
}
.row{
display: grid;
margin-left: 30%;
}
.footer-col{
  display: grid;
}
}